apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tools
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: in-cluster
    namespace: argocd
  project: default
  source:
    repoURL: https://github.com/nolte/argo-bootstrap
    targetRevision: HEAD
    path: src/charts/technical/collection-devops
    helm:
      releaseName: devops-tools
      version: v3.5.1
  syncPolicy: {}
#    automated: {}
#      prune: true
#      selfHeal: true