apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: baseline
spec:
  source:
    helm:
      values: |
        cert-manager:
          source:
            helm:
              values: |
                ingressShim:
                  defaultIssuerName: "cluster-issuer"
                  defaultIssuerKind: "ClusterIssuer"
                  defaultIssuerGroup: "cert-manager.io/v1"
        forecastle:
          source:
            helm:
              values: |
                forecastle:
                  ingress:
                    enabled: true
                    hosts:
                      - host: forecastle.172-17-0-1.sslip.io
                        paths:
                        - /