# https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/values.yaml
argo-cd:
  installCRDs: false
  repoServer:
  # 2. Use an init container to download/copy custom binaries into the emptyDir
    volumes:
    - name: custom-tools
      emptyDir: {}
    initContainers:
    - name: download-tools
      image: alpine:3.8
      command: [sh, -c]
      args:
        - wget -qO- https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv3.9.2/kustomize_v3.9.2_linux_amd64.tar.gz | tar -xvzf - &&
          mv kustomize /custom-tools/kustomize_3_9_2 &&
          chmod +x /custom-tools/kustomize_3_9_2
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools
#    volumeMounts:
#    - mountPath: /usr/local/bin/helm
#      name: custom-tools
#      subPath: helm
  global:
    image:
      tag: v1.8.3
  server:
    volumeMounts:
      - mountPath: /custom-tools
        name: custom-tools  
    config:
      kustomize.version.v3.9.2: /custom-tools/kustomize_3_9_2      
      repositories: |
        - type: helm
          url: https://argoproj.github.io/argo-helm
          name: argo
        - type: helm
          url: https://prometheus-community.github.io/helm-charts
          name: prometheus-community
        - type: helm
          url: https://charts.bitnami.com/bitnami
          name: bitnami
        - type: helm
          url: https://charts.jetstack.io
          name: jetstack
        - type: helm
          url: https://helm.min.io/
          name: minio
